body{
	margin: 0;
	padding: 0;

  p{
    color:black;
    text-transform:uppercase;
    }


  .hide-input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;  	
  }
  .hide-input-file + label{
		max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;	
  }
  #image-container{
  	width: 100%;
	}
	  
	  canvas{
	  	//width: auto;
	  }



  }